/* ========== TABLET VIEW (min-width: 501px and max-width: 768px) ========== */
@media screen and (min-width: 501px) and (max-width: 768px) {

    body {
        font-size: 1.05rem;
        padding: 0 2rem;
    }

    form {
        width: 100%;
        padding: 1.5rem;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
    }

    .rating-options {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .rating-item label {
        font-size: 1.3rem;
    }

    input[type="submit"] {
        font-size: 1rem;
    }
}