/* large view navigation ************************************/
@media (min-width: 37.5em) {
        h2 {
            text-align: center;
        }

        main {
            max-width: 800px;
            margin: 15px auto;
        }

        body {
            font-family: "Ubuntu", 'Times New Roman', Times, serif;
            font-weight: 400;
        }

        .navigation {
            display: grid;
            align-items: center;
            background-color: rgb(0, 0, 128);
        }
        
        .navigation h1 {
            grid-column: 1/2;
        }
        
        .navigation nav {
            grid-column: 2/3;
        }
        
        .an-chor {
            display: flex;
            justify-content: space-evenly;
        }
        
        nav {
            margin: 0.5rem auto;
        }

        nav .active {
            color: yellow;
        }
    
        .tmple {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
    
        figure {
            text-align: center;
        }
    
        figure img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }

        #menu {
            display: none;
            /* hide hamburger button */
        }

        .navigation {
            flex-direction: row;
        }

        .navigation a {
            display: block;
            flex: 1 1 100%;
        }

        
        footer {
            background-color: rgb(0, 0, 128);
            color: #ddd;
            padding: 0.5rem;
            text-align: center;
        }

}

