* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", 'Times New Roman', Times, serif;
    font-weight: 400;
}

.navigation h1 {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    margin: 1rem;
    font-weight: bold;
    font-weight: 700;
}


h2 {
    text-align: center;
} 

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    padding: 6px;
}

#menu::before {
    content: "☰";
    cursor: pointer;
}

#menu.open::before {
    content: "❎";
    cursor: pointer;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color:#333;
    color: #fff;
    padding: 10px 0;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 400;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


/*  */

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
/*  */
footer {
    background-color: #333;
    color: #ddd;
    padding: 1rem;
    text-align: center;
}

#lastModified {
    color: rgba(255, 255, 0, 0.83);
    padding: 5px;
}