* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
} */

.navigation p {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    margin: 1rem;
    font-weight: bold;
}


h1 {
    text-align: center;
} 

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    padding: 6px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color:#333;
    color: #fff;
    padding: 15px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


.stuff {
    margin: .5rem;
    border: 1px solid rgb(0 0 0 / .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}


/*  */

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
/*  */
footer {
    background-color: #333;
    color: #ddd;
    padding: 1rem;
    text-align: center;
}

#lastModified {
    color: rgba(255, 255, 0, 0.83);
    padding: 5px;
}